/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    font-size: 2rem;
    margin-top: 100px;
    margin-left: 30px;
    font-weight: bold;
}

.parole {
    color: gray;
}

#testoAlternato {
  position: absolute;
  border-radius: 1.5em;
  width: 50%;
  padding: 100px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.parole {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
}

.parole > span {
    position: absolute;
    top: 0;
    animation: slide 10s infinite;
    }

    @keyframes slide {
        0% {
          top: 0;
        }
        25% {
          top: -1.2em;
        }
        50% {
          top: -2.4em;
        }
        75% {
          top: -3.6em;
        }
      }

